@import url("https://fonts.googleapis.com/css2?family=Lexend&family=Pacifico&display=swap");

:root {
  --prime-one: #f8bd7f;
  --prime-two: #024776;
  --accent-one: #f5f1da;
  --accent-two: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lexend", sans-serif;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.2fr 10fr 0.1fr;
}

/* Nav */
nav {
  background-color: var(--prime-one);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  box-sizing: border-box;
}

nav form {
  display: flex;
  transition: all ease-in-out 300ms;
  position: absolute;
  right: 0;
  top: 6rem;
  border-radius: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  background-color: var(--prime-one);
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

/* nav form */

nav form[open] {
  opacity: 1;
}

.hiddenform {
  display: none;
}

nav form[close] {
  opacity: 0 !important;
  margin: 0;
  border: 0;
}

nav form input:not(nav form input[type="submit"]) {
  padding: 1rem;
  font-size: 1rem;
  margin: 0.5rem 0;
  border-radius: 1rem;
  border: 3px solid var(--prime-two);
  color: var(--prime-two);
  background-color: var(--prime-one);
}

nav form input:not(nav form input[type="submit"])::placeholder {
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
}

nav form input[type="submit"] {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
}

nav h1 {
  font-size: xx-large;
  letter-spacing: 4px;
  font-weight: bolder;
  color: var(--prime-two);
  font-family: "Pacifico", cursive;
}

nav button,
nav form input[type="submit"],
main .card button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-items: center;
  align-items: center;
  padding: 0.5rem;
  background-color: transparent;
  border-radius: 0.5rem;
  outline: none;
  border: 0;
  font-size: large;
  color: var(--accent-one);
  transition: all ease-in-out 400ms;
  border: 3px solid var(--prime-two);
  color: var(--prime-two);
}

nav button svg circle,
nav button svg line {
  transition: stroke 400ms ease-in-out;
  stroke: var(--prime-two);
}

nav button:hover,
nav form input[type="submit"]:hover,
main .card button:hover {
  background-color: var(--prime-two);
  color: #fff;
}

nav button:hover svg circle,
nav button:hover svg line {
  stroke: #fff;
}

nav button svg {
  margin-left: 1rem;
}

/* Header */
header {
  width: 100%;
  text-align: center;
  margin: 2rem 0 1rem 0;
  font-weight: bold;
  font-size: 2rem;
}

/* main */

main {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 10px;
}

main .card {
  background-color: var(--prime-one);
  color: #fff;

  padding: 1rem;
  border-radius: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: large;
}

main .card h1 {
  font-weight: bolder;
  font-size: x-large;
}
/* button implement with nav button to not reuse code */

main .card h1,
main .card h2,
main .card p {
  margin-bottom: 1rem;
}

main .card h2 {
  font-weight: bold;
}

/* footer */
footer {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  background-color: var(--prime-one);
  padding: 1rem;
  color: var(--prime-two);
  font-family: "Pacifico", cursive;
  font-size: large;
  font-weight: bold;
  letter-spacing: 0.2rem;
}
